.rata-kiri {
	padding-left: 10px;
	text-align: left;
}
.rata-kanan {
	padding-right: 10px;
	text-align: center;
}
.rata-tengah{
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}